@page
@model IndexModel
@{
    ViewData["Title"] = "Архив погоды";
}

    <div>
        <h2>Архив погоды в г.Москве</h2>        
        <a href="./Weather">Архив московской погоды</a>
        
    </div>
