@page
@model MoscowWeather.Pages.Weather.IndexModel
@{
    ViewData["Title"] = "Архив погоды в г.Москве";
}

<div>
    <h2>Архив погоды в г.Москве</h2>
    <ul>
        <li><a href="/Weather/Page2">Просмотр архивов погодных условий в городе Москве</a></li>
        <li><a href="/Weather/Page3">Загрузить архив погодных условий в городе Москве</a></li>        
    </ul>
</div>


