@page
@model MoscowWeather.Pages.Weather.Page3Model
@{
    ViewData["Title"] = "Загрузка архивов погодных условий в городе Москве";
}

<h2>Загрузка архивов погодных условий в городе Москве</h2>

<h3>Выберите файл для загрузки</h3>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <input type="file" name="upload" /><br>
    <input type="submit" value="Загрузить" />
}
<a href="/Weather/Index">Назад</a>